!!!
%html.no-js{:lang => "en"}
  %head
    = auto_display_meta_tags(separator: '-')
    = partial "partials/meta"
    = stylesheet_link_tag "index.bundle", :relative => true
    = javascript_include_tag "head.bundle", :relative => true

  %body.pushable{:class => page_classes}
    #bloom
    -#= partial "partials/menu"
    -#= partial "partials/sidebar"
    .pusher
      -##baseline
      -#%h1 baseline
      -#%h2 test
      -#.three.space
      -#%p Meanwhile Stubb, the third mate, betrayed no such far-gazing solicitudes. The whales might have made one of their regular soundings, not a temporary dive from mere fright; and if that were the case, Stubb, as his wont in such cases, it seems, was resolved to solace the languishing interval with his pipe. He withdrew it from his hatband, where he always wore it aslant like a feather.
      -#.three.space

      = yield

    = javascript_include_tag "index.bundle", :relative => true
    = yield_content :javascripts
