= wrap_layout :layout do
  .ui.container
    %a#back-link{:href => "/index.html"} BeeTwo
  .project.detail
    .article
      .ui.container
        .title#headline= current_page.data.title

      .ui.stackable.grid
        .gallery.column.mobile.only
          .carousel
            - project_images(current_page.data).each do |i|
              = image_tag i, {:class => "ui image"}

        .gallery.column.sixteen.wide.tablet.only
          .carousel
            - project_images(current_page.data).each do |i|
              = image_tag i, {:class => "ui image"}

        .ten.wide.column.gallery.computer.large.screen.widescreen.only
          .carousel
            - project_images(current_page.data).each do |i|
              = image_tag i, {:class => "ui image"}

        .twelve.wide.centered.mobile.column.mobile.text.tablet.only
          = yield

        .six.wide.column.text.computer.large.screen.widescreen.only
          = yield
