#contact
  .center.vertically
    .ui.container
      #contact-logo
        = image_tag "therapiezentrumleppers.svg", {:class => 'ui image'}

      #phone
        .item
          %a.ui.large.circular.icon.button{:href => data.content.contact.phone.href}
            %i.ui.phone.icon
          %span= data.content.contact.phone.text
        .item
          %a.ui.large.circular.icon.button{:href => data.content.contact.mobile.href}
            %i.ui.mobile.icon
          %span= data.content.contact.mobile.text

      #standorte.ui.two.column.stackable.grid
        - data.content.contact.standorte.each do |s|
          .standort.column{:id => s.id}
            .text
              .marker
                %a.ui.large.circular.icon.button{:href => s.google, :target => "_blank"}
                  %i.ui.marker.icon
              .address
                .street= s.street
                .town
                  %span.zipcode= s.zipcode
                  %span= s.town
            .map
              = image_tag s.karte
