#footer.ui.bloom.segment
  .ui.text.container
    .header= data.en.title
    .sub.header= data.en.role
    .ui.items
      .item
        .content
          %a.address{:href => "#{data.en.contact.mapLink}", :target => "_blank"}
            = data.en.contact.address.street
            %br
            = data.en.contact.address.city
      .item
        .content
          %a.email{:href => "mailto:#{data.en.contact.email}"}= data.en.contact.email
