#projects.ui.vertical.stripe.segment
  .ui.container
    %h1 projects

    .projects.ui.three.column.doubling.imagez.grid
      - blog("projects").articles.each_with_index do |p, i|
        .column.project
          .overlay.frame.expand.raised
            .image
              = image_tag(p.data.thumbnail, {:id => "expand-jump-#{i}", :class => "ui image"})
            .text= p.data.title
            
          .expander
            .arrow-up
            .content
              -# %a.ui.circular.icon.close.button{:href => ("#close-jump-#{i}")}
              -#   %i.ui.close.icon
              .ui.container
                .ui.items
                  .item
                    .ui.large.image
                      = image_tag(p.data.thumbnail)
                    .content
                      %p= p.render(:layout => false)
                      -# %a.ui.compact.button{:target => '_blank', :href => p.href} 
                      -#   learn more
                      -#   %i.ui.angle.right.icon 
