#projects.ui.vertical.stripe.segment
  .ui.container
    %h2.headline=t(:projects_headline)

  .ui.text.container
    .epigraph
      %blockquote.dropcap= get_text('What we do and how we work I')

  .ui.container.gallery
    .ui.three.column.doubling.stackable.grid
      - blog("projects").articles.each_with_index do |p, i|
        .column.project
          .overlay.frame.raised
            .image
              = image_tag(p.data.titleimage, {:class => "ui image"})
            .content.left
              .head
                .title= p.data.title
              .description= p.data.tagline
              .extra
                %a{:href => p.url}
                  learn more
                  %i.ui.chevron.right.icon

  .ui.text.container
    .epigraph
      %blockquote.dropcap= get_text('What we do and how we work II')
                


         