#projects.ui.vertical.stripe.segment
  .ui.container
    %h2.headline=t(:projects_headline)

    .epigraph
      %blockquote.initial= get_text('What we do and how we work')

    .ui.three.column.doubling.stackable.imagez.grid
      - blog("projects").articles.each_with_index do |p, i|
        .column.project
          .overlay.frame.expand.raised
            .image
              = image_tag(p.data.thumbnail, {:id => "expand-jump-#{i}", :class => "ui image"})
            .content
              %p.title= p.data.title
              %i.ui.icon.angle.down
            
          .expander
            .arrow-up
            .content
              .ui.container
                .ui.items
                  .item
                    .ui.large.image
                      = image_tag(p.data.thumbnail)
                    .content
                      %p= p.render(:layout => false)

.ui.container
  .seperator