#team.ui.vertical.stripe.segment
  .ui.container
    %h2.headline=t(:team_headline) 

  .ui.text.container
    .epigraph
      %blockquote.dropcap= get_text('Team')

  .ui.container
    .ui.two.column.doubling.stackable.grid
      - blog("team").articles.shuffle.each_with_index do |m, i|
        .column.member
          .overlay.frame.raised
            .image
              = image_tag(m.data.thumbnail, {:id => "expand-jump-#{i}", :class => "ui image"})
            .content.left
              .head
                .title= m.data.title
              .description= m.render(:layout => false)
              .extra
                %a{:href => "mailto:#{m.data.email}"}
                  %i.ui.mail.icon
                  = m.data.email
