#team.ui.vertical.stripe.segment
  .ui.container
    %h2.headline=t(:team_headline) 

    .epigraph
      %blockquote.initial= get_text('Team')

    -# .ui.items
    -#   - blog("team").articles.shuffle.each do |member|
    -#     .item.member
    -#       .image
    -#         = image_tag member.data.thumbnail
    -#       .content
    -#         = member.render(:layout => false)

    .ui.three.column.doubling.stackable.grid
      - blog("team").articles.shuffle.each_with_index do |m, i|
        .column.member
          .overlay.frame.raised
            .image
              = image_tag(m.data.thumbnail, {:id => "expand-jump-#{i}", :class => "ui image"})
            .content.left
              .head
                .title= m.data.title
                %a.email.ui.raised.circular.icon.button{:href => "mailto:#{m.data.email}"}
                  %i.ui.mail.icon
              .description= m.render(:layout => false)