#therapy
  .viz
    %svg#vitruvian

  .ui.container
    .ui.segment
      .ui.stackable.grid
        .twelve.wide.column
          #therapy-accordion.ui.accordion.therapies

            - ['physio', 'ergo', 'symptoms'].each do |t|
              .therapy{:id => t}
                .title
                  %i.dropdown.icon
                  = data.content.therapies[t].title
                
                .content
                  .description
                    %p= data.content.therapies[t].description
      
                  .ui.accordion
                    - data.content.therapies[t].styles.each do |i|
                      .symptom{:id => i.id} 
                        .title
                          %i.dropdown.icon
                          %span= i.title
                        .content
                          - if i.content.respond_to?('each')
                            %ul
                              - i.content.each do |c|
                                %li= c
                          - else 
                            %p= i.content