#team.ui.bloom.segment
  #core-team
    .ui.container.introduction
      .ui.section.rellax.header{"data-rellax-speed" => "-1"}= data.en.team.head
      .ui.section.content= data.en.team.core.introduction
    .three.space
    = partial "partials/_svg-halftone-filter"
    .ui.fluid.container
      .ui.items
      - data.en.team.core.members.each do |m|
        -#= partial "partials/team-member", locals: {member: m}
        .member.item
          .image
            = image_tag "https://api.adorable.io/avatars/288/#{m.name}", :class => "ui image"
          .content
            .header= m.name
            %p= m.description

  -#.three.space
  -#
  -##taskforce
  -#  .ui.container.introduction
  -#    .ui.section.content
  -#      %p= data.en.team.taskforce.introduction
  -#  .ui.container
  -#    .ui.stackable.equal.height.grid
  -#      .four.column.row
  -#        - data.en.team.taskforce.members.each do |member|
  -#          .member.column
  -#            .header= member.name
  -#            .role= member.role
