!!! XML
%feed{:xmlns => 'http://www.w3.org/2005/Atom'}
  %title= page_title
  %subtitle= page_description
  %id= URI.join(site_url, blog.options.prefix.to_s)
  %link{:href => "#{URI.join(site_url, blog.options.prefix.to_s)}"} site
  %link{:href => "#{URI.join(site_url, current_page.path)}", :rel => "self"} feed

  - unless blog.articles.empty?
    %updated= blog.articles.first.date.to_time.iso8601
  %author
    %name= data.site.twitter_handle
  
  - blog.articles[0..5].each do |article|
    %entry
      %title= article.title
      %link{:rel => "alternate", :href => "#{URI.join(site_url, article.url)}"} _
      %id= URI.join(site_url, article.url)
      %published= article.date.to_time.iso8601
      %updated= File.mtime(article.source_file).iso8601
      %author
        %name= data.site.twitter_handle
      %content{ :type => "html" }= article.body