---
title: BeeTwo
---

-# .mask.full-size
  -# #pattern.full-size

#index.ui.vertical.masthead.segment
  .ui.container
    .ui.header= data.en.title
    .ui.sub.header= data.en.tagline 
    .ui.mission= data.en.missionStatement 
    
#team.ui.vertical.stripe.segment
  .ui.text.container
    .ui.section.header= data.en.team.headline
  .ui.stackable.grid.fluid.container
    - data.en.team.members.each do |t|
      .member.eight.wide.column
        .ui.accordion
          .title
            .image
              = image_tag t.img, :alt => 'f00', :relative => true
              
            %span= t.name
          .content 
            %p= t.description
            %a.ui.circular.icon.button{:href => "mailto:#{t.email}", :target => "_top"}
              %i.ui.mail.icon
            %a.ui.circular.icon.button{:href => "mailto:#{t.slack}", :target => "_top"}
              %i.ui.slack.icon
            %hr

#principles.ui.vertical.stripe.segment
  .ui.text.container        
    .ui.section.header Principles
    .ui.section.sub.header Those maximes whereby we act and —at the same time, will that they should become a universal law.
    .ui.items
      - data.principles.each do |p|
        .item
          .content
            .description= p.text
